body {
  letter-spacing: 0.1rem;
}

p {
  line-height: 2.2;
  text-align: center;
  width: 40%;
  margin: 0 auto;

  @include media-breakpoint-down(md) {
    width: 70%;
  }

  @include media-breakpoint-down(xs) {
    width: 80%;
  }
}
