@mixin active() {
  color: $primary !important;
  border: 1px solid $primary;
  border-radius: $border-radius;
}

.bg-light {
  @include media-breakpoint-down(md) {
    background-color: $primary !important;
  }
}

nav {
  .navbar-toggler {
    border: 0;

    .navbar-toggler-icon {
      background-image: url('../img/berger-menu.svg');
    }
  }

  .navbar-brand {
    color: $primary !important;
  }

  .logo {
    width: 4rem;

    @include media-breakpoint-down(md) {
      content: url('../img/logo-w.svg');
    }
  }

  .navbar-nav {
    .active > .nav-link {
      @include active();
    }
  }

  .nav-item {
    box-sizing: border-box;
    margin: 0 2rem;

    a {
      display: block;
      width: 7rem;
      border: 1px solid transparent;
      text-align: center;

      &:hover {
        @include active();

        @include media-breakpoint-down(md) {
          color: white !important;
          border: 1px solid white;
        }
      }
    }
  }
}
